.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


/* Common */

.mt-100 {
    margin-top: 10%;
}

.appLink {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #337AB7;
    font-weight: 400;
    text-decoration: none !important;
}

.appLink:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.primaryBtn {
    background-color: #008EC5 !important;
    border: 2px solid #008EC5 !important;
}

.disableBtnBorder {
    border: 1.5px solid #a7acac !important;
}

.deleteBtnColor {
    background-color: #db3838 !important;
    border: 2px solid #db3838 !important;
    color: #fff !important;
}

.moreLink {
    color: #337AB7;
    font-style: italic;
    cursor: pointer;
}

.MuiOutlinedInput-input {
    padding: 12px 14px !important;
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue" !important;
    font-size: 14px !important;
    color: #777777 !important;
    font-weight: 400 !important;
}

.cursorPointer {
    cursor: pointer;
}

.pe-none {
    pointer-events: none;
}

.MuiTreeItem-group {
    margin-left: 32px !important
}

.disabled {
    pointer-events: none;
    color: #ccc;
    cursor: not-allowed;
}

.failedIconColor {
    color: #DB862D !important;
}

.failedTextColor {
    color: #e17a47 !important;
}


/* Login & Forgot */

.loginTitle {
    margin: 0px 0 15px !important;
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px !important;
    color: #777777 !important;
    font-weight: 700 !important;
}

.loginFailedTitle {
    margin: 0px 0 15px !important;
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px !important;
    color: #db862c !important;
    font-weight: 700 !important;
}

.accountInfo {
    float: right;
    text-transform: none;
    margin: 4px;
    text-transform: none !important;
    margin-top: 4px !important;
    background-color: #db862c !important;
    border: 2px solid #ca751b !important;
    color: white !important;
}

.cancelButtonModal {
    background-color: #0182C5 !important;
    border-color: #1F4E79 !important;
    border: 2px solid #1F4E79 !important;
    color: white !important;
    float: right;
    text-transform: none !important;
}

.vl {
    border-left: 6px solid #a2a2a3;
    height: 200px;
}

.cancelButtonDisable {
    background-color: #EEEEEE !important;
    border: 2px solid #a2a2a3 !important;
    float: right;
    text-transform: none;
    margin: 4px;
    text-transform: none !important;
    margin-top: 4px !important;
    color: #777777 !important;
    box-shadow: none !important;
}

.scrollMoveItem {
    height: 195px;
    overflow: scroll;
}

.scaleContent {
    float: right !important;
    margin: 10px
}

.popupFolderIcon {
    width: 3% !important;
}

.cancelButtonAI {
    background-color: #EEEEEE !important;
    border: 2px solid #a2a2a3 !important;
    text-transform: none;
    margin-left: -6px !important;
    text-transform: none !important;
    color: #777777 !important;
    box-shadow: none !important;
}

.cancelButtonCP {
    background-color: #EEEEEE !important;
    border: 2px solid #a2a2a3 !important;
    text-transform: none;
    margin: 4px;
    margin-right: 4px !important;
    margin-left: -6px !important;
    /* margin-left: 42px !important; */
    text-transform: none !important;
    color: #777777 !important;
    box-shadow: none !important;
}

.cancelButtonCPM {
    background-color: #EEEEEE !important;
    border: 2px solid #a2a2a3 !important;
    text-transform: none;
    /* margin-left: 42px !important; */
    text-transform: none !important;
    color: #777777 !important;
    box-shadow: none !important;
    margin-left: 18px !important;
    width: 208px !important;
}

.accountInfoCPM {
    float: right;
    text-transform: none;
    margin: 4px;
    text-transform: none !important;
    margin-top: 4px !important;
    background-color: #db862c !important;
    border: 2px solid #ca751b !important;
    color: white !important;
    margin-left: 18px !important;
    width: 208px !important;
}

.cancelButtonDisable:hover {
    box-shadow: none !important;
}

.cancelButtonClass {
    background-color: #0182C5 !important;
    border: 2px solid #1F4E79 !important;
    color: white !important;
    text-transform: capitalize !important;
}

.submitButtonClass {
    background-color: #db862c !important;
    border: 2px solid #ca751b !important;
    color: white !important;
    text-transform: capitalize !important;
}

.disableButtonClass {
    background-color: #EEEEEE !important;
    border: 2px solid #CCCCCC !important;
    color: #777777 !important;
    text-transform: capitalize !important;
    cursor: default !important;
}

.loginSubmit {
    background-color: #DB862D !important;
    border: 2px solid #DB862D !important;
}

.changePassword {
    background-color: #dadbe0 !important;
}

.text-initial {
    text-transform: none !important;
}


/* .form-group{
    margin: 1.5rem;
} */

.invalid-feedback {
    margin-top: 1.5rem !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    padding-right: 0 !important;
}


/* Header */

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    padding: 0 !important;
}

.appTextFont {
    font-size: 14px !important;
}

.appTextColor {
    color: #777777 !important;
}

.content>p {
    font-size: 14px !important;
    line-height: 25px;
    color: #4a5050 !important;
}

.w-12 {
    width: 12%;
}

.borderless {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.pipeText {
    margin: 0 10px;
    font-weight: 600;
}

.modalPromptContent {
    width: 85% !important;
    margin: 0 auto;
}

.rightAlign {
    text-align: right
}

.leftAlign {
    text-align: left
}


/* News and Update */

.newsUpdateContent {
    height: 195px;
    overflow: hidden
}

.MuiFormHelperText-root.Mui-error {
    width: 500px
}

.relativePosition {
    position: relative;
}

.absolutePosition {
    position: absolute;
}


/* Full Text Search */

#textareaDiv {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 100%;
    min-height: 100px;
    border-radius: 3px;
}

.operatorClass {
    color: #777777;
    font-style: italic;
}
.andClass,.orClass{
    text-transform: uppercase;
}

.dropdown-content {
    display: block;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.progress-bar {
    background-color: #008EC5 !important;
}

.progress {
    border: 2px solid #008EC5 !important;
    background: #fff !important;
    border-radius: 2px !important;
    width: 100%;
}


/*new styling */

.bodyText {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}

.pageTitle {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 22px;
    color: #777777;
    font-weight: 700;
}

.subHeading {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue" !important;
    font-size: 14px !important;
    color: #777777 !important;
    font-weight: 700 !important;
}

.hrTableLines {
    border-top: 1px solid #CCCCCC;
}

.placeholderText {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #D3D3D3;
    font-weight: 400;
    font-style: italic;
}

a {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #337AB7 !important;
    font-weight: 400;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.ManualError {
    color: #f44336;
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-style: italic;
    font-size: 13px;
}

.MuiFormControlLabel-label,
.MuiTypography-body1 {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue" !important;
    font-size: 14px !important;
    color: #777777;
    font-weight: 400 !important;
}

p,
label {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.opClass{
    font-style: italic;
    font-weight: bold;
    color: #bdb9b9;
}
.query {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}
.autoquery{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}
#textareaDiv{
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}
.loginSubmitCancel{
    background-color: #0182C5 !important;
    border-color: #1F4E79 !important;
    border: 2px solid #1F4E79 !important;
    color:white !important;
    text-transform: capitalize !important;
}
.loginSubmitCancel:hover{
    background-color: #0182C5 !important;
    box-shadow: none !important;
}
.loginSubmitButton{
    background-color: #db862c !important;
    margin-left: -6px;
    border-color: #ca751b !important;
    border: 2px solid #ca751b !important;
    color:white !important;
    text-transform: capitalize !important;
}
 .loginSubmitButton:hover{
    background-color: #db862c !important;
    box-shadow: none !important;
}
/*Mui Checkbox */

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #008EC5 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
    background-color: #008EC52B !important;
}

.MuiIconButton-colorSecondary:hover {
    background-color: #008EC52B !important;
}

.search-table .rdt_TableRow:not(:last-of-type) {
    border-bottom-width: 0px;
}

/* Autocomplete Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 50%;
    z-index: 999;
}
  
  .box {
    position: relative;
    background: #fff;
    border-radius: 4px;
    padding: 0px;
    border: 1px solid #999;
    overflow: auto;
  }
  
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
  
.checkBoxContent {
    font-size: 14px;
    text-align: initial;
    margin-left: 10px;
    margin-bottom: 10px !important;
    margin-top: 8px
}

@media only screen and (min-width: 768px) {}