.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* Common */

.mt-100 {
    margin-top: 10%;
}

.appLinkColor {
    color: #008EC5 !important;
}
.appLinkFont {
    font-size: 0.875rem;
    font-weight: 500;
}
.primaryBtn{
    background-color:#008EC5 !important;
    border: 2px solid #008EC5 !important;
}
.disableBtnBorder{
    border: 1.5px solid #a7acac !important;
}
.deleteBtnColor{
    background-color:#db3838 !important;
    border: 2px solid #db3838 !important;
    color: #fff !important;
}
.moreLink {
    color: #008EC5;
    font-style: italic;
    cursor: pointer;
}
.MuiOutlinedInput-input {
  padding: 12px 14px !important;
}
.cursorPointer{
    cursor: pointer;
}
.pe-none{
    pointer-events: none;
}
.MuiTreeItem-group{
    margin-left:32px !important
}
.disabled {
    pointer-events: none;
    color: #ccc;
    cursor: not-allowed;
}
.failedIconColor{
    color: #DB862D !important;
}
.failedTextColor{
    color:#e17a47 !important;
}

/* Login & Forgot */

.loginTitle {
    color: #505F5F;
    margin: 0px 0 15px;
    font-weight: 600;
}

.loginSubmit {
    background-color: #DB862D !important;
    border: 2px solid #DB862D !important;
}

.changePassword {
    background-color: #dadbe0 !important;
}

.text-initial {
    text-transform: none !important;
}


/* .form-group{
    margin: 1.5rem;
} */

.invalid-feedback {
    margin-top: 1.5rem !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    padding-right: 0 !important;
}


/* Header */

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    padding: 0 !important;
}

.appTextFont {
    font-size: 14px !important;
}

.appTextColor {
    color: #4a5050 !important;
}
.content > p{
    font-size: 14px !important;
    line-height: 25px;
    color: #4a5050 !important;
}
.w-12{
    width: 12%;
}

.borderless {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.pipeText {
    margin: 0 10px;
    font-weight: 600;
}

.modalPromptContent {
    width: 85% !important;
    margin: 0 auto;
}

.rightAlign {
    text-align: right
}

.leftAlign {
      text-align: left
}

/* News and Update */

.newsUpdateContent {
    height: 195px;
    overflow: hidden
}

.MuiFormHelperText-root.Mui-error {
width: 500px
}

.relativePosition {
    position: relative;
}

.absolutePosition {
    position: absolute;
}

/* Full Text Search */
#textareaDiv {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 100%; 
    min-height:100px;
    border-radius: 3px;
}
.operatorClass{
    color:#777777;
    font-style:italic;
}

.dropdown-content {
    display: block;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.progress-bar{
    background-color: #008EC5 !important;
}
.progress{
    border: 2px solid #008EC5 !important;
    background: #fff !important;
    border-radius: 2px !important;
    width: 100%;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {}