.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* Common */

.mt-100 {
    margin-top: 10%;
}

.appLinkColor {
    color: #008EC5;
}
.primaryBtn{
    background-color:#008EC5 !important;
    border: 2px solid #008EC5 !important;
}
.disableBtnBorder{
    border: 1.5px solid #a7acac !important;
}
.deleteBtnColor{
    background-color:#db3838 !important;
    border: 2px solid #db3838 !important;
    color: #fff !important;
}
.moreLink {
    color: #008EC5;
    font-style: italic;
    cursor: pointer;
}
.MuiOutlinedInput-input {
  padding: 12px 14px !important;
}
.cursorPointer{
    cursor: pointer;
}
.MuiTreeItem-group{
    margin-left:32px !important
}

/* Login & Forgot */

.loginTitle {
    color: #505F5F;
    margin: 0px 0 15px;
    font-weight: 600;
}

.loginSubmit {
    background-color: #DB862D !important;
    border: 2px solid #DB862D !important;
}

.changePassword {
    background-color: #dadbe0 !important;
}

.text-initial {
    text-transform: none;
}


/* .form-group{
    margin: 1.5rem;
} */

.invalid-feedback {
    margin-top: 1.5rem !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    padding-right: 0 !important;
}


/* Header */

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    padding: 0 !important;
}

.appTextFont {
    font-size: 14px;
}

.appTextColor {
    color: #4a5050
}

.borderless {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.pipeText {
    margin: 0 10px;
    font-weight: 600;
}

.modalPromptContent {
    width: 85% !important;
    margin: 0 auto;
}

.rightAlign {
    text-align: right
}

.leftAlign {
      text-align: left
}

/* News and Update */

.newsUpdateContent {
    height: 195px;
    overflow: hidden
}

.MuiFormHelperText-root.Mui-error {
width: 500px
}

.relativePosition {
    position: relative;
}

.absolutePosition {
    position: absolute;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {}